html, body {
    height: 100%;
}

body {
    background-color: #f6f7f8;
    width: 70%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
    padding: 0rem;
}

@media screen and (min-width: 64em) {
    body {
        max-width: 50rem;
        margin: 0 auto;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    body {
        margin: 0 auto;
    }
}

@media screen and (max-width: 42em) {
    body {
        margin: 0 auto;
    }
}

#main_list {
    border-width: 1px;
    border-style: solid;
    border-color: rgba(72, 69, 73, 0.93);
    border-radius: 10px;
    padding: 0px;
    width: 85%;
    margin: 0 auto;
    margin-bottom: 0rem;
    min-width: 43rem;
}

.id_num {
    position: relative;
    float: left;
    margin-right: 10px;
    font-weight: 700;
    width: 6%;
    min-width: 6%;
    text-align: center;
    display: block;
}

.entry_name {
    position: relative;
    float: left;
    width: 62%;
    min-width: 62%;
    word-wrap: normal;
    resize: none;
    display: block;
}

.entry_name a {
    text-decoration: none;
    color: black;
}

.entry_name b {
    font-weight: 600;
    margin-left: 10px;
    font-size: 13px;
    bottom: 0px;
    display: inline;
    position: relative;
}

.entry_url {
    float: left;
    margin-left: 9px;
}

.button-img {
    width: 20px;
    margin-top: 1px;
    float: left;
}

.entry_calendar {
    float: left;
    margin-left: 10px;
}

.status {
    float: right;
    width: 21%;
    text-align: center;
}

.new_user {
    display: inline-block;
    height: auto;
    width: 100%;
    margin: 0;
    border-radius: 10px;
    position: relative;
}

.user_not_found {
    display: inline-block;
    height: auto;
    width: 100%;
    margin: 0;
    border-radius: 10px;
    position: relative;
    background-color: rgb(250, 182, 182);
    opacity: 0.5;
}

.user_not_found .entry_name {
    width: 50%;
    min-width: 50%;
}

.user_not_found:hover {
    cursor: not-allowed;
}

.error_msg {
    display: block;
    float: left;
    margin-left: 10px;
    font-family: monospace;
    height: 100%;
    position: relative;
    margin-top: 3px;
    font-size: 15px;
    width: 35%;
    text-align: center;
}

.user_inner {
    display: inline-block;
    padding: 5px;
    padding-top: 6px;
    padding-bottom: 2px;
    height: 100%;
    width: 100%;
}

.new_user:hover {
    background-color: #cee5fb;
}

.hand-pointed {
    cursor: pointer;
}

#status_date {
    font-size: 12px;
    height: 100%;
    margin: auto 0;
    margin-top: 2px;
    color: rgb(106, 106, 106);
}

#header {
    display: flex;
    width: 100%;
    height: auto;
    min-width: 43.2rem;
}

#title_page {
    font-size: 47px;
    padding: 1rem 0rem;
    display: block;
    font-weight: 500;
    height: 100%;
    text-decoration: none;
    float: left;
    width: 40%;
}

#title_page a {
    text-decoration: none;
    color: black;
    display: block;
    float: left;
}

#toolbar {
    float: right;
    height: 100%;
    vertical-align: middle;
    min-height: 100%;
    margin: auto 0;
    position: relative;
    width: 60%;
}

#toolbar_button {
    color: rgb(120, 28, 88);
    text-decoration: none;
    height: 100%;
    vertical-align: middle;
    float: right;
}

#toolbar_button img {
    width: 40px;
}

#progress-bar-circle {
    width: 17px;
    height: 17px;
    display: none;
    margin-top: 3px;
    margin-left: 1px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 105%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.error_download {
    background-color: rgb(250, 182, 182);
    opacity: 0.5;
    cursor: not-allowed;
    display: inline-block;
    height: auto;
    width: 100%;
    margin: 0;
    border-radius: 10px;
    position: relative;
}

#generatedtime {
    display: inline-block;
    float: left;
    color: rgb(91, 91, 91);
    font-size: 13px;
    font-weight: lighter;
}

#ppizarror {
    display: inline-block;
    float: right;
    color: rgb(91, 91, 91);
    font-size: 13px;
    font-weight: lighter;
    margin-right: 10px;
}

#ppizarror a {
    text-decoration: none;
    font-weight: 500;
}

#ppizarror img {
    width: 15px;
    height: 15px;
    top: 3px;
    position: relative;
    border-radius: 3px;
}

#about {
    padding: 5px;
    margin-bottom: 4rem;
    min-width: 43rem;
}
